body {
    color: $color-text;
    background-color: $gray-vlight;
    font-family: $fonts-primary;
    font-weight: $default-font-weight;
}
a {
    color: $color-link;
    text-decoration: none;
    @include nice-transition(color 0.3s);

    &:hover {
        color: lighten($color-link, 10%);
    }
}
.icon {
    &::before {
        font-family: FontAwesome;
    }
}
i {
    &.icon {
        font-style: normal;
    }
}
.nice-circle {
    @include nice-border-radius(50%);
}
.nice-muted {
    color: $gray-medium;
}
.nice-brand {
    color: $color-brand;
}
.nice-bg-brand {
    background-color: $color-brand;
}
.nice-bg-link {
    background-color: $color-link;
}
.nice-bg-text {
    background-color: $color-text;
}
.nice-bg-primary {
    background-color: $color-primary;
}
.nice-bg-accent {
    background-color: $color-accent;
}
.nice-bg-muted {
    background-color: $color-muted;
}
.nice-bg-warning {
    background-color: $color-warning;
}
.nice-bg-danger {
    background-color: $color-bad;
}
.nice-bg-info {
    background-color: $color-info;
}
.nice-bg-success {
    background-color: $color-good;
}
.clearfix {
    @extend %clearfix;
}
.shown {
    display: block;
}
.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.center-block {
    margin: 0 auto;
}
@each $value in (fixed, relative, absolute, static) {
    .position-#{$value} {
        position: $value;
    }
}