@keyframes {
    0% {
        background-color: lighten($color-primary, 15%);
    }    
    50% {
        background-color: $color-primary;
    }
    100% {
        background-color: lighten($color-primary, 15%);
    }
}

@keyframes {
    0% {
        @include nice-transform(rotate(0deg));
    }
    100% {
        @include nice-transform(rotate(360deg));
    }
}

@keyframes {
    from {
        @include nice-transform(rotate(0deg));
    }
    to {
        @include nice-transform(rotate(-90deg));
    }
}
@keyframes {
    from {
        @include nice-transform(rotate(0deg));
    }
    to {
        @include nice-transform(rotate(90deg));
    }
}
@keyframes {
    0% {
        left: -50%;
    }
    100% {
        left: 100%;
    }
}