/**
 * Nice! Mixins collection
 **/

@function calculateRem ($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin nice-font ($style: null, $variant: null, $weight: null, $size: null, $family: null) {
    font: {
        family: $family;
        style: $style;
        variant: $variant;
        weight: $weight;
        size: $size;
    }
}

@mixin nice-font-size ($size: 12px) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin nice-line-height ($height: 12px) {
    line-height: $height;
    line-height: calculateRem($height);
}

@mixin nice-transform ($params...) {
    transform: $params;
}

@mixin nice-box-sizing ($param) {
    box-sizing: $param;
}

@mixin nice-transition ($params...) {
    transition: $params;
}

@mixin nice-box-shadow ($params...) {
    box-shadow: $params;
}

@mixin nice-text-shadow ($params...) {
    text-shadow: $params;
}

@mixin nice-border-radius ($radiuses: null, $top-left: null, $top-right: null, $bottom-right: null, $bottom-left: null) {
    border-radius: $radiuses;
    border-top-left-radius: $top-left;
    border-top-right-radius: $top-right;
    border-bottom-right-radius: $bottom-right;
    border-bottom-left-radius: $bottom-left;
    background-clip: padding-box;
}

@mixin nice-opacity ($transparency) {
    opacity: $transparency;
}

@mixin nice-background-size ($param) {
    background-size: $param;
}

@mixin nice-appearance ($param) {
    appearance: $param;
}

@mixin nice-placeholder-color {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

@mixin nice-scrollbar(
    $track-color: $color-white, 
    $track-radius: $radius-normal, 
    $thumb-color: rgba($color-black, .5), 
    $thumb-radius: $radius-normal, 
    $size-vertical: 6px, 
    $size-horizontal: $size-vertical,
    $zIndex: 999,
    $appearance: none
) {
    &::-webkit-scrollbar {
        z-index: $zIndex;
        webkit-appearance: $appearance;

        &:vertical {
            width: $size-vertical;
        }
        &:horizontal {
            width: $size-horizontal;
        }
    }
    &::-webkit-scrollbar-thumb {
        background-color: $thumb-color;
        @include nice-border-radius($thumb-radius);
    }
    &::-webkit-scrollbar-track { 
        background-color: $track-color; 
        @include nice-border-radius($track-radius);
    }
}

@mixin nice-linear-gradient ($color-from, $color-to) {
    background: linear-gradient($color-from, $color-to);
}

@mixin nice-abs-pos ($top: null, $right: null, $bottom: null, $left: null) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    position: absolute;
}
