// Default colors
$color-white:		#FFF;
$color-black:		#000;

// Color palette
$gray-vlight:       #F5F7F7 !default;
$gray-light:        #ECF0F1 !default;
$gray-medium:       #D0D1D5 !default;
$gray-dark:         #333333 !default;

$color-text:        #1D1D1B !default;
$color-border:      $gray-medium !default;
$color-brand:       #009CC1 !default;
$color-link:        #009CC1 !default;
$color-primary:     #F18700 !default;
$color-accent:      #182642 !default;
$color-muted:       #B2B2B2 !default;
$color-good:        #5CB85C !default;
$color-bad:         #F42534 !default;
$color-warning:     #FFB819 !default;
$color-info:        #60C4DE !default;
