button,
.nice-btn {
    color: $color-black;
    position: relative;
    border: 1px solid $color-border;
    background-color: $color-white;
    padding: 0 10px;
    text-decoration:none;
    outline: none;
    text-align: center;
    @include nice-font($family: $fonts-primary);
    @include nice-line-height(32px);
    @include nice-border-radius($default-radius);
    @include nice-transition(border 0.1s, background 0.1s);
    @extend %display-inline-block;
    @extend %disable-user-select;

    &:hover {
        color: $color-black;
        border: 1px solid darken($color-border, 15%);
        background-color: $gray-vlight;
    }
    &:active {
        border: 1px solid darken($color-border, 15%);
        background: $gray-light;
        @include nice-box-shadow(inset 0px 2px 1px rgba($gray-medium, 1));
    }
    &.icon {
        &::before {
            margin-right: 5px;
        }
    }
    &.link {
        color: $color-link;
        border: none;
        background-color: transparent;
        @include nice-transition(color 0.3s);

        &:hover,
        &:focus {
            color:lighten($color-link, 10%);
            background-color: transparent;
            @include nice-box-shadow(none);
        }
    }
    &.primary {
        color: $color-white;
        background-color: $color-primary;
        border: none;
        padding: 0 11px;
        @include nice-line-height(34px);
        @include nice-font($weight: 400);

        &:hover {
            background-color: #F39C12;
        }
        &:active {
            @include nice-box-shadow(inset 0px 2px 1px darken($color-primary, 5%));
        }
    }
}
