.nice-btn {
    color: $color-black;
    position: relative;
    border: 1px solid $color-border;
    background-color: $color-white;
    padding: 5px 10px;
    text-decoration:none;
    outline: none;
    text-align: center;
    @include nice-font($family: $fonts-primary);
    @include nice-line-height(20px);
    @include nice-border-radius($default-radius);
    @include nice-transition(border 0.1s, background 0.1s);
    @include nice-font-size(14px);
    @extend %display-inline-block;
    @extend %disable-user-select;

    &:hover {
        color: $color-black;
        border: 1px solid darken($color-border, 15%);
        background-color: $gray-vlight;
    }
    &:active {
        border: 1px solid darken($color-border, 15%);
        background: $gray-light;
        @include nice-box-shadow(inset 0px 2px 1px rgba($gray-medium, 1));
    }
    &[disabled],
    &.disabled {
        background-color: lighten($color-border, 20%);
        border-color: lighten($color-border, 5%);
        color: $color-muted;
        cursor: default;

        &:active,
        &:hover,
        &:focus {
            background-color: lighten($color-border, 20%);
            border-color: lighten($color-border, 5%);
            @include nice-box-shadow(none);
        }
    }
    &.icon {
        &::before {
            margin-right: 5px;
        }
        &.text-bold {
            &:before {
                font-weight: normal;
            }
        }
    }
    &.link {
        color: $color-link;
        border: none;
        padding: 6px 10px;
        background-color: transparent;
        @include nice-transition(color 0.3s);

        &:hover,
        &:focus {
            color: lighten($color-link, 10%);
            background-color: transparent;
            @include nice-box-shadow(none);
        }
        &[disabled],
        &.disabled {
            color: $color-muted;
        }
    }
    @each $type in (primary, accent, info, good, warning, bad) {
        &.#{$type} {
            background-color: lighten(map-get($color-scheme, #{$type}), 35%);
            color: darken(map-get($color-scheme, #{$type}), 20%);
            border-color: lighten(map-get($color-scheme, #{$type}), 5%);    
            color: $color-white;
            background-color: map-get($color-scheme, #{$type});
            border: none;
            padding: 6px 11px;
            @include nice-font($size: 14px);

            &:hover {
                background-color: lighten(map-get($color-scheme, #{$type}), 5%);
            }
            &:active {
                @include nice-box-shadow(inset 0px 2px 1px darken(map-get($color-scheme, #{$type}), 5%));
            }
            &[disabled],
            &.disabled {
                $btn-lightened: lighten(map-get($color-scheme, #{$type}), 25%);
                $btn-desaturated: desaturate($btn-lightened, 30%);
                background-color: $btn-desaturated;

                &:active {
                    @include nice-box-shadow(none);
                }
            }
        }
    }
    &.small {
        padding: 0 5px;
        @include nice-line-height(18px);
        @include nice-font-size($default-font-size-small);
    }
    &.large {
        padding: 0 15px;
        @include nice-line-height(42px);
        @include nice-font-size($default-font-size-large);
    }
    &.bold {
        font-weight: 600;
    }
}
.nice-btn-group {    
    margin: 15px 0;
    @extend %clearfix;

    > {
        .nice-btn,
        .nice-dropdown {
            position: relative;
            float: left;

            &:not(:first-child):not(:last-child) {
                @include nice-border-radius(0);
            }
            &:first-child {
                @include nice-border-radius($default-radius 0 0 $default-radius);
            }
            &:last-child {
                @include nice-border-radius(0 $default-radius $default-radius 0);
            }
            &:first-child:last-child {
                @include nice-border-radius($default-radius);
            }
            + .nice-btn,
            + .nice-dropdown {
                margin-left: -1px;
            }
            &:hover {
                z-index: 2;
            }
        }
        .nice-dropdown {
            .nice-btn {
                @include nice-border-radius(inherit);
            }
        }
    }
    &.stacked {
        > {
            .nice-btn,
            .nice-dropdown {
                float: none;
                display: block;
                width: 100%;
                max-width: 100%;
                margin-left: 0;

                &:first-child {
                    @include nice-border-radius($default-radius $default-radius 0 0);
                }
                &:last-child {
                    @include nice-border-radius(0 0 $default-radius $default-radius);
                }
                + .nice-btn {
                    margin-top: -1px;
                }
            }
            .nice-dropdown {
                .nice-btn {
                    @include nice-border-radius(inherit);
                }
            }
        }
    }
    &.justified {
        display: table;
        table-layout: fixed;
        border-collapse: separate;
        width: 100%;

        > {
            .nice-btn,
            .nice-dropdown {
                display: table-cell;
                float: none;
                width: 100%;
            }
        }
    }
    &.small {
        > {
            .nice-btn {
                @extend .nice-btn.small;
            }
        }
    }
    &.large {
        > {
            .nice-btn {
                @extend .nice-btn.large;
            }
        }
    }
}