.nice-btn {
    position: relative;
    border: 1px solid $nice-color-border;
    padding: 0 7px;
    margin-top: -5px;
    text-decoration:none;
    outline: none;
    text-align: center;
    @include nice-line-height(32px);
    @include nice-border-radius($default-radius);
    @include nice-transition(border 0.1s, background 0.1s);
    @extend %display-inline-block;
    @extend %disable-user-select;
}
