.nice-card {
    position: relative;
    float: left;
    background-color: $gray-vlight;
    border: 1px solid $color-border;
    margin: 0 5px 15px;
    @include nice-border-radius($radius-normal);
    @include nice-box-shadow(0 1px 1px rgba(0,0,0,.1));

    .nice-card-title {
        background-color: $color-accent;
        color: $color-white;
        padding: 10px 15px;
        margin: -1px -1px 0 -1px;
        @include nice-font-size(18px);
        @include nice-border-radius($radius-normal $radius-normal 0 0);

        h3 {
            margin: 0;
            font-weight: 600;
            @include nice-font-size(18px);
        }
    }
    .nice-card-sub {
        background-color: $gray-vlight;
        color: $gray-dark;
        padding: 10px 15px;
        border-top: 1px solid $color-border;
        @include nice-font-size(13px);

        &.icon {
            position: relative;
            padding-left: 40px;

            &:before {
                color: $gray-medium;
                position: absolute;
                width: 14px;
                text-align: center;
                top: 12px;
                left: 15px;
                @include nice-text-shadow(1px 1px 0 $color-white);
            }
        }
    }
    .nice-card-controls {
        position: absolute;
        bottom: 0;
        display: table;
        table-layout: fixed;
        width: 100%;
        border-top: 1px solid lighten($color-border, 10%);
        background-color: $color-white;

        > .nice-card-control {
            vertical-align: bottom;
            padding: 10px 15px;
            text-align: center;
            display: table-cell;
            @include nice-transition(background-color 0.2s, color 0.2s);

            + .nice-card-control {
                border-left: 1px solid lighten($color-border, 10%);
                text-align: center;
            }
            &:first-child {
                @include nice-border-radius(0 0 0 $radius-normal);
            }
            &:last-child {
                @include nice-border-radius(0 0 $radius-normal 0);
            }
            &:hover {
                background-color: $gray-vlight;
            }
            &:active {
                background-color: $gray-light;
                @include nice-transition(background-color 0s);
            }
            &.disabled {
                color: $color-muted;
                cursor: not-allowed;
                background-color: $gray-vlight;
                @include nice-text-shadow(1px 1px 0 $color-white);
            }
        }
    }
    > {
        div {
            &:last-child {
                @include nice-border-radius(0 0 $radius-normal $radius-normal);
            }
        }
        img, .nice-card-image {
            margin: 0 -1px;
            vertical-align: middle;
            min-height: 150px;
            background-position: 50% 50%;
            @include nice-background-size(cover);
        }
    }
    .nice-card-content {
        padding: 15px;
        background-color: $color-white;
    }
    &.has-controls {
        padding-bottom: 42px;
    }
    @each $type in (primary, brand, info, good, warning, bad, muted) {
        &.#{$type} {
            .nice-card-title {
                background-color: map-get($color-scheme, #{$type});
            }
        }
    }
}

@include media($mobile) {
    .nice-card {
        margin: 0 0 15px;
    }
}
