.nice-dropdown {
    position: relative;
    @extend %display-inline-block;

    &.drop-up {
        .dropdown-menu {
            top: auto;
            bottom: 100%;
            margin: 0 0 3px;
        }
    }
    &.align-left {
        .dropdown-menu {
            left: auto;
            right: 0;
        }
    }
    &.shown {
        @extend %display-inline-block;

        .dropdown-menu {
            display: block;
        }
    }
    &.small {
        .nice-btn {
            @extend .nice-btn.small;
        }
    }

    .dropdown-menu {
        display: none;
        list-style: none;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 0;
        background-color: $color-white;
        border: 1px solid $color-border;
        margin: 3px 0 0;
        min-width: 100%;
        z-index: 4;
        @include nice-border-radius($radius-normal);
        @include nice-box-shadow(1px 2px 6px rgba($color-black, .15));

        &.shown {
            display: block;
        }

        li {
            input[type="checkbox"],
            input[type="radio"] {
                position: relative;
                top: -2px;
                outline: none;
                padding: 0;
                vertical-align: middle;
                margin: 0 5px 0 0;
                @extend %border-box-sizing;
            }
            a, span, label {
                color: $color-black;
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding: 6px 10px;
                @include nice-font-size(14px);
                @include nice-transition(color .1s, background-color .1s, border-color .1s);
                @extend %disable-user-select;

                i {
                    width: 20px;
                    text-align: center;
                    margin-right: 3px;
                    @extend %display-inline-block;
                }
            }
            a, label {                
                margin-left: -1px;
                margin-right: -1px;
                border-left: 1px solid $color-border;
                border-right: 1px solid $color-border;

                &:hover {
                    color: $color-white;
                    background-color: $color-brand;
                    border-color: $color-brand;
                }
                &:active {
                    background-color: lighten($color-brand, 2%);
                    @include nice-transition(background-color 0s);
                }
            }
            &:first-child {
                a {
                    @include nice-border-radius($radius-normal $radius-normal 0 0);
                }
            }
            &:last-child {
                a {
                    @include nice-border-radius(0 0 $radius-normal $radius-normal);
                }
            }
            &.separator {
                border-bottom: 1px solid $gray-light;
                height: 4px;
                margin-bottom: 3px;
                overflow: hidden;
            }
            &.disabled {
                a, span, label {
                    color: $color-muted;
                    cursor: not-allowed;

                    input[type="checkbox"],
                    input[type="radio"] {
                        cursor: not-allowed;
                    }
                }
                &:hover {
                    a, span, label {
                        background-color: $color-white;
                        border-color: $color-border;
                    }
                }
            }
            &.heading {
                span {
                    border-bottom: 1px solid $gray-light;
                    line-height: 26px;
                    font-weight: 600;
                    cursor: default;
                    margin-bottom: 3px;

                    &:hover {
                        background-color: $color-white;
                    }
                }
            }
            &.description {
                span {
                    background-color: $color-white;
                    color: $color-muted;
                    white-space: normal;
                    @include nice-font-size(13px);
                }
            }
            @each $type in (info, good, warning, bad) {
                &.#{$type} {
                    a {
                        background-color: lighten(map-get($color-scheme, #{$type}), 35%);

                        &:hover {
                            color: $color-white;
                            background-color: map-get($color-scheme, #{$type});
                            border-color: map-get($color-scheme, #{$type});
                        }
                        &:active {
                            background-color: lighten(map-get($color-scheme, #{$type}), 5%);
                        }
                    }
                }
            }
        }
    }
}