input {
    &[type="text"],
    &[type="password"] {
        border: 1px solid $color-border;
        outline: none;
        min-height: calculateRem(30px);
        padding: 0 5px;
        font-family: $fonts-primary;
        font-size: 1em;
        width: 100%;
        background-color: $color-white;
        @include nice-box-sizing(border-box);
        @include nice-line-height(30px);
        @include nice-border-radius($default-radius);
        @include nice-transition(box-shadow 0.1s, border 0.1s);
        @include nice-font-size(14px);

        &:focus {
            border: 1px solid $color-brand;
            @include nice-box-shadow(inset 0 2px 2px $gray-light);
        }
    }
}
.nice-control-group {
    > *:first-child {
        @include nice-border-radius($default-radius 0 0 $default-radius);
    }
    > *:last-child {
        @include nice-border-radius(0 $default-radius $default-radius 0);
    }
    > *:not(:first-child):not(:last-child) {
        @include nice-border-radius(none);
    }
}