/**
 * Module variables
 **/
$select-caret-base64: 'data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+';

/**
 * Module placeholders
 **/
%form-control {
    border: 1px solid $color-border;
    outline: none;
    padding: 5px;
    font-family: $fonts-primary;
    font-size: 1em;
    width: 100%;
    display: block;
    background-color: $color-white;
    @include nice-border-radius($default-radius);
    @include nice-box-sizing(border-box);
    @include nice-transition(box-shadow 0.1s, border 0.1s);
    @include nice-font-size(14px);

    &:focus {
        border: 1px solid $color-brand;
        @include nice-box-shadow(inset 0 2px 2px $gray-light);
    }
}

input {
    &.nice-form-control {
        @extend %form-control;
        @include nice-line-height(20px);
    }
}
select {
    &.nice-form-control {
        height: calculateRem(32px);
        @include nice-line-height(20px);
        @extend %form-control;

        &[multiple] {
            padding: 5px;
            height: auto;
        }
    }
}
textarea {
    &.nice-form-control {
        padding: 5px;
        @include nice-line-height(18px);
        @extend %form-control;
    }
}
.nice-form-group {
    + .nice-form-group {
        margin-top: 15px;
    }
}
.nice-form-inline {
    .nice-form-group {
        vertical-align: middle;
        @extend %display-inline-block;

        input,
        select {
            &.nice-form-control {
                width: auto;
                vertical-align: middle;
                @extend %display-inline-block;
            }
        }
        label {
            @extend %display-inline-block;
        }
    }
}
.nice-control-group {
    display: table;
    white-space: nowrap;
    border-collapse: separate;

    > {
        input.nice-form-control, 
        select.nice-form-control,
        .nice-control-group-btn {
            display: table-cell;
        }
        *:first-child {
            @include nice-border-radius($default-radius 0 0 $default-radius);
        }
        *:last-child {
            @include nice-border-radius(0 $default-radius $default-radius 0);
        }
        *:not(:first-child):not(:last-child) {
            @include nice-border-radius(none);
        }
        .nice-form-control {
            position: relative;
            float: left;
            width: 100%;
            z-index: 2;

            &:focus {
                z-index: 3;
            }
        }
        .nice-control-group-btn {
            font-size: 0;
            white-space: nowrap;
            vertical-align: middle;
            position: relative;
            width: 1%;

            &:last-child {
                button,
                .nice-btn {
                    z-index: 2;
                    margin-left: -1px;
                }
            }
            button,
            .nice-btn {
                position: relative;
            }
            *:last-child {
                margin-left: -1px;
                @include nice-border-radius(0 $default-radius $default-radius 0);
            }
            *:not(:first-child):not(:last-child) {
                @include nice-border-radius(none);
            }
        }
    }
}
.nice-radio,
.nice-checkbox {
    label {
        cursor: pointer;
        min-height: 20px;
        padding-left: 20px;
        margin-bottom: 0;
        @extend %display-inline-block;
    }
    input[type="checkbox"],
    input[type="radio"] {
        position: absolute;
        margin: 4px 0 0;
        margin-left: -20px;
        padding: 0;
        @include nice-box-sizing(border-box);
    }
}

/**
 * Normalize <select /> appearance across browsers
 * Target Webkit-browsers only
 **/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
        &.nice-form-control {
            background: $color-white url($select-caret-base64) no-repeat right 50%;
            @include nice-appearance(none);

            &[multiple] {
                background-image: none;
            }
        }
    }
}
