header,
.nice-header {
    background-color: $color-white;
    border-bottom: 1px solid $color-border;
    @include nice-box-shadow(0 1px 3px rgba($color-black, 0.1));

    .nice-header-container {
        height: 60px;
        @include nice-line-height(60px);
        @include outer-container;
    }
    .nice-header-brand {
        display: inline-block;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 60px;
        @include nice-background-size(contain);

        img {
            height: 30px;
            margin: 15px 0;
        }
    }
    .nice-header-menu {
        float: right;
        padding: 0;
        margin: 0;
        @include nice-line-height(60px);

        li {
            list-style: none;
            display: block;
            float:left;

            a {
                display: block;
                padding: 0 10px;
            }
            &.nice-header-menu-top {
                padding: 0 15px;

                input[type="text"] {
                    border-color: $gray-light;
                    @include nice-transition(border-color 0.3s, margin-left 0.3s, width 0.3s);

                    &:focus {
                        width: 150%;
                        margin-left: -50%;
                        border-color: $color-brand;
                    }
                }
            }
        }
        &.menu-pills {
            li {
                a {
                    @include nice-transition(background-color 0.1s);

                    &:hover {
                        background-color: $gray-vlight;
                    }
                }
            }
        }
    }
    .nice-header-toggle {
        display: none;
    }
}

@include media($mobile) {
    body {
        padding: 0 15px;
        left: 0;
        @include nice-transition(left .2s ease-in-out);

        &.expanded {
            position: relative;
            left: calc(-100% + 60px);
            z-index: 999;
            overflow: visible;
            @include nice-transition(left .2s ease-out);

            .nice-header-menu {
                left: 60px;
                @include nice-transition(left .2s ease-in-out);
            }
        }
    }
    header,
    .nice-header {
        margin: 0 -15px;
        position: relative;

        .nice-header-container {
            padding: 0 15px;
        }
        .nice-header-menu {
            top: 0;
            height: 100%;
            width: calc(100% - 60px);
            position: fixed;
            left: 105%;
            background-color: $color-accent;
            overflow: hidden;
            overflow-y: auto;
            z-index: 5;
            @include nice-transition(left .2s ease-in-out);

            li {
                float: none;

                a {
                    padding: 0 20px;
                    color: $color-white;
                    @include nice-transition(background-color .1s, color .1s);

                    &::before {
                        margin-right: 10px;
                    }
                }
                &.nice-header-menu-top {
                    background-color: lighten($color-accent, 15%);

                    input[type="text"] {
                        color: $color-white;
                        border-color: transparent;
                        background-color: transparent;
                        padding: 0;
                        @include nice-box-shadow(none);
                        @include nice-border-radius(0);
                        @include nice-transition(border-bottom-color 0.3s);
                        @include nice-placeholder-color {
                            color: $gray-vlight;
                        }

                        &:focus,
                        &:active {
                            border-bottom-color: $color-white;
                            width: 100%;
                            margin-left: 0;
                        }
                    }
                }
            }
            &.menu-pills {
                li {
                    a {
                        &:hover,
                        &:active {
                            background-color: $color-white;
                            color: $color-link;
                        }
                    }
                }
            }
        }
        .nice-header-toggle {
            display: block;
            position: absolute;
            right: 5px;
            top: 50%;
            margin-top: -16px;
            border: none;
            padding: 10px 10px;
            background-color: transparent;
            outline: none;
            text-align: center;

            .icon-bar {
                display: block;
                width: 22px;
                height: 2px;
                background-color: $color-accent;
                @include nice-transition(all 0.2s);

                &.top-bar {
                    transform-origin: 10% 10%;
                    @include nice-transform(rotate(45deg));
                }
                &.middle-bar {
                    @include nice-opacity(0);
                }
                &.bottom-bar {
                    transform-origin: 10% 90%;
                    @include nice-transform(rotate(-45deg));
                }
                &+.icon-bar {
                    margin-top: 4px;
                }
            }
            &.collapsed {
                .icon-bar {
                    &.top-bar {
                        @include nice-transform(rotate(0));
                    }
                    &.middle-bar {
                        @include nice-opacity(1);
                    }
                    &.bottom-bar {
                        @include nice-transform(rotate(0));
                    }
                }
            }
            &:focus,
            &:active {
                background-color: transparent;
                @include nice-box-shadow(none);
            }
        }
    }
}