header,
.nice-header {
    background-color: $color-white;
    border-bottom: 1px solid $color-border;
    @include nice-box-shadow(0 1px 3px rgba($color-black, 0.1));

    .nice-header-container {
        height: 60px;
        @include nice-line-height(60px);
        @include outer-container;
    }
    .nice-header-brand {
        display: inline-block;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 60px;
        @include nice-background-size(contain);

        img {
            height: 30px;
            margin: 15px 0;
        }
    }
    .nice-header-menu {
        float: right;
        padding: 0;
        margin: 0;
        @include nice-line-height(60px);

        li {
            list-style: none;
            display: block;
            float:left;

            a {
                display: block;
                padding: 0 10px;
            }
        }
        &.menu-pills {
            li {
                a {
                    @include nice-transition(background-color 0.1s);

                    &:hover {
                        background-color: $gray-vlight;
                    }
                }
            }
        }
    }
}