.nice-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
    table-layout: fixed;
    width: 100%;

    li {
        margin: 0;
        display: table-cell;

        a, span {
            display: block;
            padding: 10px 15px;
            @extend .text-align-center;
            @include nice-border-radius($radius-normal);
            @include nice-transition(background-color 0s, color 0s);

            &.icon {
                &:before {
                    margin-right: 5px;
                }
            }
        }
        a {
            &:hover {
                background-color: $color-brand;
                color: $color-white;
            }
        }
        &.current {
            a {
                background-color: $color-accent;
                color: $color-white;
            }
        }
        &.disabled {
            a, span {
                color: $color-muted;
                cursor: not-allowed;
                @include nice-text-shadow(1px 1px 0 $color-white);

                &:hover {
                    background-color: $gray-light;
                }
            }
        }
        + li {
            a {
                margin-left: 2px;
            }
        }
    }

    &.stacked {
        display: block;
        table-layout: auto;
        width: auto;

        li {
            display: block;

            a, span {
                @extend .text-align-left;

                &.icon {
                    &:before {
                        width: 20px;
                        text-align: center;
                        @extend %display-inline-block;
                    }
                }
            }

            ul {
                padding-left: 10px;
                margin-left: 30px;
            }

            + li {
                margin-top: 2px;

                a {
                    margin-left: 0;
                }
            }
        }
        &.has-icons {
            > li {
                a {
                    &:not(.icon) {
                        padding-left: 40px;
                    }
                }
            }
        }
        &.narrow {
            li {
                a {
                    padding-top: 4px;
                    padding-bottom: 4px;
                }
            }
        }
    }
    + .nice-menu {
        margin-top: 15px;
    }
}
