.nice-panel {
    @extend %panel;

    .nice-panel-heading {
        @extend %panel-heading;

        + table {
            &.nice-table {
                border-top: 0;

                &.bordered {
                    border-top: 0;

                    thead {
                        &:first-child {
                            tr {
                                &:first-child {
                                    th {
                                        border-top: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &:first-child {
            @include nice-border-radius($top-left: $radius-normal, $top-right: $radius-normal);
        }
        &:last-child {
            @include nice-border-radius($bottom-left: $radius-normal, $bottom-right: $radius-normal);
        }
    }
    .nice-panel-content {
        padding: 15px;

        > .nice-stepper {
            margin: -15px;
        }
        > .nice-tabs,
        > .nice-tab-content {
            margin-left: -15px;
            margin-right: -15px;
        }
        > .nice-tab-content {
            margin-bottom: -15px;
            @include nice-border-radius($bottom-left: $radius-normal, $bottom-right: $radius-normal);
        }
    }
    > table {
        &.nice-table {
            margin-bottom: 0;
            
            &.bordered {
                border: 0;

                tr {
                    td, th {
                        &:first-child {
                            border-left: 0;
                        }
                        &:last-child {
                            border-right: 0;
                        }
                    }
                }
                tbody {
                    tr {
                        &:last-child {
                            td, th {
                                border-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    @each $type in (primary, brand, info, good, warning, bad) {
        &.#{$type} {
            @include nice-box-shadow(0 1px 2px rgba(map-get($color-scheme, #{$type}), .6));
            
            .nice-panel-heading {
                background-color: map-get($color-scheme, #{$type});
            }
        }
    }
    &.gray {

        .nice-panel-heading {
            margin: 0;
            padding: 9px 14px 10px;
            background-color: $gray-vlight;
            color: $color-text;
        }
    }
    &:not(.gray) {
        .nice-panel-heading {
            a {
                color: $color-white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
