.nice-loading {
    border: .25rem solid rgba($color-black, .15);
    border-top-color: rgba($color-accent, 1);
    height: 24px;
    width: 24px;
    @include nice-animation(spin 1s linear 0s infinite);
    @include nice-border-radius(50%);
    @include nice-transition(border-top-color .5s);
    @extend %display-inline-block;

    @each $type in (brand, primary, info, good, warning, bad) {
        &.#{$type} {
            border-top-color: rgba(map-get($color-scheme, $type), 1);
        }
    }
    &.medium {
        border-width: .35rem;
        height: 48px;
        width: 48px;
        @include nice-animation($duration: 1.25s);
    }
    &.large {
        border-width: .45rem;
        height: 128px;
        width: 128px;
        @include nice-animation($duration: 1.5s);
    }
}
.nice-progress {
    background-color: darken($gray-light, 5%);
    height: 28px;
    padding: 4px;
    margin: 5px 0;
    @include nice-border-radius(15px);

    .nice-progress-fill {
        text-align: center;
        color: $color-white;
        background-color: $color-primary;
        max-width: 100%;
        min-width: 10%;
        text-overflow: ellipsis;
        overflow: hidden;
        @include nice-font($size: .8em, $weight: 600);
        @include nice-line-height(20px);
        @include nice-border-radius(15px);
        @include nice-transition(width 0.3s ease-in-out);
        @include nice-text-shadow(1px 1px 0 rgba(0,0,0,.5));
    }
    @each $type in (brand, primary, accent, info, good, warning, bad) {
        &.#{$type} {
            .nice-progress-fill {
                background-color: map-get($color-scheme, $type);
            }
        }
    }
    &.pulse {
        .nice-progress-fill {
            @include nice-animation(pulse 1.5s ease-out 0s infinite);
        }
    }
}
