.nice-stacked-list {
    list-style: none;
    @extend %panel;

    .list-heading {
        @extend %panel-heading;
        @include nice-border-radius($top-left: $default-radius, $top-right: $default-radius);

        + .list-item {
            border-top-width: 0;
        }
    }
    .list-item {
        .item-heading {
            margin: -15px -15px 15px;
            padding: 10px 15px;
            background-color: $gray-vlight;
            display: block;
            font-weight: 600;
            font-size: 1em;

            &.icon {
                &:before {
                    width: 20px;
                    text-align: center;
                    font-weight: 400;
                    @extend %display-inline-block;
                }
            }
        }
        p {
            margin: 0 0 5px 0;
        }
        .nice-stacked-list-controls {
            width: calc(100% + 30px);
            display: table;
            table-layout: fixed;
            margin: -15px;

            .nice-stacked-list-control {
                display: table-cell;
                padding: 10px 15px;
                text-align: center;
                @include nice-transition(background-color .2s);

                &:first-child {
                    @include nice-border-radius($top-left: $default-radius);
                }
                &:last-child {
                    @include nice-border-radius($top-right: $default-radius);
                }
                + .nice-stacked-list-control {
                    border-left: 1px solid $gray-light;
                }
                &:hover {
                    background-color: $gray-vlight;
                }
                &:active {
                    background-color: $gray-light;
                    @include nice-transition(background-color 0s);
                }
                &.icon {
                    &:before {
                        margin-right: 5px;
                    }
                }
                @each $type in (primary, info, good, warning, bad) {
                    &.#{$type} {
                        background-color: map-get($color-scheme, #{$type});

                        &:hover {
                            background-color: lighten(map-get($color-scheme, #{$type}), 5%);
                        }
                    }
                }
            }
        }
    }
    .list-item {
        display: block;
        border-bottom: 1px solid lighten($color-border, 10%);
        padding: 15px 15px;
        position: relative;
        @include nice-line-height(18px);

        .nice-badge {
            float: right;
            margin: -3px 0;
        }
        &:hover {
            .nice-badge {
                background-color: $color-brand;

                @each $type in (primary, accent, info, good, warning, bad) {
                    &.#{$type} {
                        background-color: lighten(map-get($color-scheme, #{$type}), 5%);
                    }
                }
            }
        }
        &.current {
            background-color: $gray-vlight;
            color: $color-black;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    &.condensed {
        .list-item {
            padding: 10px 15px;
        }
    }
    &.sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 400px;
        z-index: 999;
        margin-bottom: 0;
        border-top: none;
        overflow: auto;
        overflow-x: hidden;
        background-color: rgba(0,0,0,.7);
        color: $color-white;
        @include nice-box-shadow(0 0 10px rgba(0,0,0,.2));
        @include nice-border-radius(0);

        &.left {
            right: auto;
            left: 0;
        }
        .list-item {
            border-bottom-color: $gray-medium;

            .item-heading {
                background-color: $color-black;
            }
            .nice-stacked-list-controls {
                .nice-stacked-list-control {
                    color: $color-white;
                    @include nice-border-radius(0);
                    @include nice-text-shadow(none);

                    &:hover {
                        background-color: $color-black;
                    }
                    &:active {
                        background-color: lighten($color-black, 15%);
                    }
                    + .nice-stacked-list-control {
                        border-left-color: $gray-medium;
                    }
                }
            }
            .nice-form-control {
                border-width: 0;
                @include nice-box-shadow(0 2px 2px rgba(0,0,0,.8));
            }
        }
        a {
            color: lighten($color-link, 30%);
            @include nice-text-shadow(1px 1px 0 rgb(0,0,0));

            &:hover {
                color: lighten($color-link, 40%);
            }
        }
    }
}