.nice-stepper {
    background-color: $color-white;
    padding: 15px;

    .nice-stepper-flow {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid $gray-light;
        padding: 0 15px 15px;
        margin: 0 -15px;
        position: relative;
        box-sizing: content-box;

        .nice-stepper-step {
            align-items: center;
            display: flex;
            flex-direction: row;
            padding: 0;
            margin: 0;
            font: {
                size: $font-size-small;
            }
            .nice-stepper-bullet {
                align-items: center;
                display: inline-flex;
                justify-content: center;
                background-color: $gray-medium;
                margin: 5px 5px 5px 0;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                float: left;
                @extend .nice-circle;
            }
            .nice-stepper-label {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                text-align: left;
                color: $color-black;

                small {
                    display: block;
                    color: $color-muted;
                }
            }
            @each $type in (brand, primary, accent, info, good, warning, bad) {
                &.#{$type} {
                    .nice-stepper-bullet {
                        background-color: map-get($color-scheme, #{$type});
                        color: $color-white;
                    }
                }
            }
            &.bad {
                .nice-stepper-label {
                    small {
                        color: $color-bad;
                    }
                }
            }
            &.active {
                font: {
                    weight: $font-weight-bold;
                }
                .nice-stepper-bullet {
                    background-color: $color-brand;
                    color: $color-white;
                }
            }
        }
        .nice-stepper-divider {
            height: 1px;
            display: block;
            min-height: 1px;
            width: 100%;
            flex: 1 1 0%;
            background-color: $gray-medium;
            align-self: center;
            margin: 0 5px;
        }
    }
    .nice-stepper-body {
        padding: 15px 0;
    }
    .nice-stepper-footer {
        border-top: 1px solid $gray-light;
        padding: 15px;
        margin: 0 -15px -15px;
        @extend %clearfix;

        .nice-btn-group {
            margin: 0;
        }
    }
}