.nice-tabs {
    list-style: none;
    padding: 0 10px;
    margin: 0;
    border-bottom: 1px solid $color-border;
    @extend %clearfix;

    li {
        margin-bottom: -1px;
        position: relative;
        float: left;

        + li {
            margin-left: 1px;
        }
        &.pull-right {
            float: right;

            a {
                @include nice-border-radius($top-right: $radius-normal);
            }
            + .pull-right {
                a {
                    @include nice-border-radius($top-right: 0);
                }
            }
        }
        @each $type in (brand, primary, accent, info, good, warning, bad) {
            &.#{$type} {
                a {
                    background-color: map-get($color-scheme, $type);
                    color: $color-white;
                    @include nice-transition(background-color 0.3s);

                    .badge,
                    .nice-badge {
                        background-color: lighten(map-get($color-scheme, $type), 15%);
                    }
                    &:hover {
                        background-color: lighten(map-get($color-scheme, $type), 10%);

                        .badge,
                        .nice-badge {
                            background-color: map-get($color-scheme, $type);
                            color: $color-white;
                        }
                    }
                }
                &.current {
                    a {
                        border-top-color: map-get($color-scheme, $type);

                        .badge,
                        .nice-badge {
                            background-color: map-get($color-scheme, $type);
                        }
                    }
                }
            }
        }
        a {
            text-align: center;
            min-width: 80px;
            display: block;
            text-decoration: none;
            padding: 10px 15px;
            position: relative;
            white-space: nowrap;
            outline: none;
            background-color: $gray-light;
            @include nice-line-height(20px);
            @include nice-transition(background-color .1s, color .1s);

            &:hover {
                background-color: $color-brand;
                color: $color-white;

                .badge,
                .nice-badge {
                    background-color: $color-white;
                    color: $color-brand;
                }
            }
            &.icon {
                min-width: auto;
                text-align: left;
                padding-left: 35px;

                &:before {
                    position: absolute;
                    left: 5px;
                    top: 50%;
                    margin-top: -10px;
                    width: 24px;
                    text-align: center;
                }
            }
            .badge,
            .nice-badge {
                text-align: center;
                font-size: .8em;
                padding: 1px 6px;
                background-color: darken($gray-light, 15%);
                margin: 1px -3px 0 3px;
                @include nice-line-height(16px);
                @include nice-border-radius($radius-normal);
                @extend %display-inline-block;
            }
        }
        &.current {
            a {
                background-color: $color-white;
                border: 1px solid $color-border;
                border-bottom-color: $color-white;
                border-top-color: $color-primary;
                padding: 9px 14px 10px;
                cursor: default;
                color: $color-black;

                &:hover {
                    background-color: $color-white;
                }
                &.icon {
                    padding: 9px 14px 10px 34px;
                }
                .badge,
                .nice-badge {
                    color: $color-white;
                    background-color: $color-primary;
                }
            }
        }
        &:first-child {
            a {
                @include nice-border-radius($top-left: 3px);
            }
        }
        &:last-child {
            a {
                @include nice-border-radius($top-right: 3px);
            }
        }
    }
    &.bold {
        font-weight: 600;
    }
    &.small {
        li {
            a {
                min-width: 60px;
                padding: 5px 10px;
                @include nice-font-size(13px);

                &.icon {
                    min-width: auto;
                    padding: 5px 10px 5px 30px;

                    &:before {
                        left: 5px;
                        margin-top: -9px;
                    }
                }
            }
            &.current {
                a {
                    padding: 4px 9px 5px;

                    &.icon {
                        padding-left: 29px;
                    }
                }
            }
        }
    }
}
.nice-tab-content {
    padding: 15px;
    margin: 0;
    background-color: $color-white;
    list-style: none;

    li {
        display: none;

        &.current {
            display: block;
        }
    }
}
.nice-tabs-wrapper {
    .nice-tabs {
        padding: 0;
        border-bottom: none;
    }
    .nice-tab-content {
        border: 1px solid $color-border;
        @include nice-box-shadow(1px 1px 2px rgba(0,0,0,.1));
        @include nice-border-radius(0 $radius-normal $radius-normal);
    }
}

@include media($mobile-and-tablet) {
    .nice-tabs {
        li {
            a {
                &.icon {
                    min-width: 80px;
                    padding: 25px 15px 5px;
                    text-align: center;

                    &:before {
                        position: absolute;
                        top: 15px;
                        left: 50%;
                        margin-left: -12px;
                        width: 24px;
                        text-align: center;
                    }
                }
            }
            &.current {
                a {
                    padding: 9px 14px 10px;

                    &.icon {
                        padding: 24px 14px 5px;
                    }
                }
            }
        }
        &.small {
            li {
                a {
                    &.icon {
                        min-width: 60px;

                        &:before {
                            left: 5px;
                            top: 50%;
                            margin-top: -9px;
                            margin-left: 0;
                        }
                    }
                }
                &.current {
                    a {
                        &.icon {
                            padding: 4px 9px 5px 29px;
                        }
                    }
                }
            }
        }
    }
}
