.nice-tags-container {
    background-color: $color-white;
    padding: 0 0 3px 3px;
    white-space: nowrap;
    border: 1px solid $color-border;
    @include nice-border-radius($default-radius);
    @extend %clearfix;

    .nice-tag-input {
        float: left;
        margin: 3px 3px 0 0;
        padding: 0 7px;
        border: none;
        outline: none;
        color: $color-text;
        @include nice-line-height(26px);
        @include nice-font($family: $fonts-primary);
        @include nice-border-radius($default-radius);
        @include nice-transition(all .1s);
        @include nice-placeholder-color {
            @include nice-transition(color .1s);
        }

        &:focus {
            background-color: $color-brand;
            color: $color-white;
            @include nice-box-shadow(inset 0 -2px 0 darken($color-brand, 20%));

            @include nice-placeholder-color {
                color: $gray-light;
            }
        }
    }

    .nice-tag {
        background-color: $color-brand;
        color: $color-white;
        display: block;
        float: left;
        margin: 3px 3px 0 0;
        @include nice-border-radius($default-radius);
        @include nice-box-shadow(inset 0 -2px 0 darken($color-brand, 20%));

        .nice-tag-label,
        .nice-tag-btn,
        .nice-tag-detail {
            @include nice-line-height(26px);
            @include nice-font($size: .9em);
        }
        .nice-tag-btn,
        .nice-tag-detail {
            position: relative;
            background-color: lighten($color-brand, 15%);
            text-align: center;
            color: $color-white;
            display: block;
            float: right;
            padding: 0 7px;
            @include nice-border-radius($top-right: $default-radius, $bottom-right: $default-radius);
            @include nice-box-shadow(inset 0 -2px 0 $color-brand);
        }

        .nice-tag-label {
            padding: 0 7px;
            display: block;
            float: left;
            @include nice-border-radius($top-left: $default-radius, $bottom-left: $default-radius);
        }
        .nice-tag-btn {
            border: none;
            cursor: pointer;
            margin: 0;
            @include nice-transition(background-color .3s);

            &:hover {
                background-color: lighten($color-brand, 20%);
            }
        }
        .nice-tag-detail {
            &:after {
                right: 100%;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(136, 183, 213, 0);
                border-right-color: lighten($color-brand, 15%);
                border-width: 4px;
                margin-top: -4px;
            }
        }
        @each $type in (primary, accent, muted, info, good, warning, bad) {
            &.#{$type} {
                background-color: map-get($color-scheme, #{$type});
                color: $color-white;

                .nice-tag-btn {
                    background-color: lighten(map-get($color-scheme, #{$type}), 15%);
                    @include nice-box-shadow(inset 0 -2px 0 darken(map-get($color-scheme, #{$type}), 20%));

                    &:hover {
                        background-color: lighten(map-get($color-scheme, #{$type}), 20%);
                    }
                }
                .nice-tag-detail {
                    background-color: lighten(map-get($color-scheme, #{$type}), 15%);
                    @include nice-box-shadow(inset 0 -2px 0 darken(map-get($color-scheme, #{$type}), 20%));

                    &:after {
                        border-right-color: lighten(map-get($color-scheme, #{$type}), 15%);
                    }
                }
            }
        }
    }
}

@include media($mobile-and-tablet) {
    .nice-tags-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .nice-tag {
            display: flex;
            flex-grow: 1;

            .nice-tag-label {
                flex-grow: 1;
                text-align: center;
            }

            &:last-child {
                flex-grow: 0;
            }
        }
    }
}