// Styles for example site
@charset 'UTF-8';

@import '../src/themes/default',
        '../src/helpers/variables',
        '../src/helpers/mixins';

body {
    padding-top: 60px;
    margin: 0;

    h1 {
        font-family: Colaborate;
        font-weight: 200;
    }
    h2 {
        font-family: Colaborate;
        font-weight: 100;
        padding: 0 0 10px 0;
        border-bottom: 1px solid lighten($color-border, 5%);
    }
    .nice-example {
        .color-swatch {
            width: 100px;
            margin: 5px 0;
            text-align: center;
            height: 100px;
            color: $color-white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: .9em;

            > * {
                display: block;
            }
        }
        .product-icon {
            font-size: 4em;
            margin: 0 .15em;
        }
    }
    code {
        display: block;
        padding: 15px;
        border: 1px solid $color-border;
        background-color: $color-white;
        font-size: 12px;
        line-height: 18px;
        color: $gray-dark;
        white-space: pre-wrap;
        @include nice-transition(max-height 0.5s);
        @include nice-border-radius($default-radius);

        span {
            &.main {
                font-weight: 600;
            } 
            &.variation {
                color: $color-brand;
            }
        }
        &.collapsed {
            cursor: pointer;
            max-height: 200px;
            overflow-y: hidden;
        }
        &.inline {
            display: inline;
            background-color: transparent;
            line-height: inherit;
            border: none;
            padding: 0;
            font-size: inherit;
            @include nice-border-radius(0);
        }
    }
    footer {
        .text-brand {
            font-size: 1.25em;
            margin: 0 5px;
        }
    }
}