// Styles for example site
@charset 'UTF-8';

@import '../src/themes/default',
        '../src/helpers/variables',
        '../src/helpers/mixins';

body {
    margin: 0;
    font-family: $fonts-primary;

    .color-swatch {
        width: 100px;
        text-align: center;
        height: 100px;
        color: $color-white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: .9em;

        > * {
            display: block;
        }
    }
    code {
        display: block;
        padding: 15px;
        border: 1px solid $color-border;
        background-color: $gray-vlight;
        font-size: 12px;
        line-height: 18px;
        color: $gray-dark;
        @include nice-border-radius($default-radius);
    }
}