$alignments: (
    'start': flex-start,
    'end': flex-end,
    'center': center,
    'baseline': baseline,
    'stretch': stretch
);
$justifications: (
    'start': flex-start,
    'end': flex-end,
    'center': center,
    'space-between': space-between,
    'space-around': space-around
);
$item-grow: (
    'stretch': 1,
    'double': 2
);

.nice-flex-container {
    display: flex;
    @each $name, $alignment in $alignments {
        &.align-#{$name} {
            align-items: $alignment;
        }
    }
    @each $direction in (row, row-reverse, column, column-reverse) {
        &.direction-#{$direction} {
            flex-direction: $direction;
        }
    }
    @each $name, $value in $justifications {
        &.justify-#{$name} {
            justify-content: $value;
        }
    }
    @each $name, $value in $item-grow {
        > .grow-#{$name} {
            flex-grow: $value;
        }
    }
    @each $value in (no-wrap, wrap, wrap-reverse) {
        &.#{$value} {
            flex-wrap: $value;
        }
    }
}
